.table {
  text-align: left;
  border-collapse: collapse;
  border-spacing: 5px;
  background-color: #ece9e0;
  color: #656665;
  border: 10px solid #ece9e0;

  th {
    font-size: 18px;
    padding: 10px;
  }

  td {
    background-color: #f5d7bf;
    padding: 10px;
  }
}